.login-form {
  background-color: var(--theme);
  padding: var(--size-4);
  padding-top: var(--size-8);
  padding-bottom: var(--size-8);
  margin: 0 auto;
  margin-top: var(--size-4);
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  gap: var(--size-3);
  user-select: none;
}

@media (max-width: 600px) {
  .login-form {
    width: 90%;
  }
}

.error {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  border-inline: 1px solid var(--color-3);
  margin: 0 auto;
  max-width: 800px;
  min-height: calc(100vh - 80px);
  background-color: var(--theme);
  padding: var(--size-5)
}

