.post {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  width: 100%;
  margin: var(--size-4) auto;
  border: 1px solid var(--color-3);
  border-radius: var(--size-2);
}

.post img {
  user-select: none;
}

.post .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-2);
  border-bottom: 1px solid var(--color-3);
}

.post .post-header .author-name {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  font-weight: 700;
  text-decoration: none;
  color: var(--color-5);
}

.post .post-header .author-name img {
  width: var(--size-6);
  border-radius: 50%;
}

.post .post-header .options * {
  color: var(--color-5);
}

.post-body {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-4);
}

.post-body img {
  width: 100%;
}
